<div class="homelogo">
 <div class="homeback">
   <div class="hometext">
    <h1>Track your Charity Donations<h1>
    <h2>Raise money for charities in the class room</h2>
    <p><%= link_to "List of Teachers", teachers_path %> </p>
   </div>

      <div class='teacherList'>
      </div>
  </div>
</div>



<script id="index-template" type="text/x-handlebars-template">
  <div class="projectIndexSection">
<h1> ALL of the teachers </h1>
        {{#each this}}
          <div class = "teacher_groups">
            <p>{{first_name}} {{last_name}} </p>
            <p> Add total amount of pledges form all students of this teacher </p>
            <p> Students:  {{students.length}} </p>
                <!-- THis there a better option for a button in handlebars -->
              <form action="/teachers/{{id}}">
                  <input type="submit" value="Students List" />
              </form>
          </div>
        {{/each}}

          <p>Total Pledges made: $<%= number_with_delimiter(Pledge.total_pledges) %> </p>
        <!-- Scoped class method for the charity with the most_money pledged -->
        See the charity with the most money pledged
        <%= link_to "Most Money Pledged" , {:action=>"most_pledges", :controller=>"pledges"} %>

  </div>
</script>
