<div class="homelogo">
  <div class="homeback">
 <div class="hometext">
  <h1>Track your Charity Donations<h1>
  <h2>Raise money for charities in the class room</h2>

  <p><%= link_to "List of Teachers", teachers_path %> </p>
</div>
</div>
</div>
