// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher_groups{
  padding: 1%;
  width: 10%;
  background-color: #b2ad7f;
  border-style: solid;
  text-align: center;
  margin: 10px;
}

.student_box {
 padding: 1%;
 width: 80%;
 background-color: #6b5b95;
 border-style: solid;
 text-align: center;
 margin: 10px;
}


.leftcolumnteacher{
  width:20%

}
.rightcolumnteacher{
  width:80%
}
